<h1 class="title">分類列表</h1>

<article class="message">
  <div class="message-body">小提示：可使用拖拉調整分類排序喔！</div>
</article>

<table class="table is-fullwidth has-shadowed">
  <thead>
    <tr>
      <th>分類名稱</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="sortable-items">
    <% @categories.each do |category|  %>
      <tr class="item" data-item="<%= dom_id(category) %>">
        <td><i class="fas fa-sliders-h"></i>&nbsp;<%= link_to category.name, edit_admin_category_path(category) %></td>
        <td>
          <%= link_to "刪除", admin_category_path(category), method: :delete, data: { confirm: '確認刪除？' }, class: 'button is-danger is-small' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新增分類", new_admin_category_path, class: "button is-primary" %>